<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<select name="reward[user_id]">
	<% @users.each do |user| %>
		<option <%= (user.id == @reward.user_id ? "selected" : "") %> value="<%= user.id %>"><%= user.email %></option>
	<% end %>
	</select>
	<br/>

	<select name="reward[reward_type_id]">
	<% @reward_types.each do |rt| %>
		<option <%= (@reward.reward_type_id == rt.id ? "selected" : "") %> value="<%= rt.id %>"><%= rt.display %></option>
	<% end %>
	</select>
	<br/>

	<%= f.label :reward_type_value %>
	<%= f.text_field :reward_type_value %>
	<br/>

	<%= f.label :note %>
	<%= f.text_field :note %>
	<br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
