
<div class="table_wrapper">
<table class="table table-bordered table-striped">
	<thead>
		<tr class='table_caption'>
			<th class='table_header' colspan='6'>
				<h3 class='table_title'>My Rewards</h3>
				<div class="table_actions clearfix"> </div>
			</th>
		</tr>
  	<tr>
			<th>Type</th>
			<th>Amount</th>
			<th>User</th>
			<th>Note</th>
    	<th></th>
    	<th></th>
  	</tr>
	</thead>
	<tbody>
	<% @my_rewards.each do |reward| %>
  	<tr>
			<td><%= reward.get_reward_type.display %></td>
			<td><%= reward.reward_type_value %></td>
			<td><%= reward.user.email %></td>
			<td><%= reward.note %></td>
    	<td><%= link_to 'Show', reward %></td>
    	<td><%= link_to 'Redeem', { :controller => "rewards", :action => "redeem" } %></td>
  	</tr>
	<% end %>
	</tbody>
	<tfoot>
	<tr>
		<td colspan="6">
			<span>Displaying <%= @my_rewards.count %></span>
		</td>
	</tr>
	</tfoot>
</table>
</div>

<div class="table_wrapper">
<table id="global_usage" class="table table-bordered table-striped">
	<thead>
		<tr class='table_caption'>
			<th class='table_header' colspan='6'>
				<h3 class='table_title'>Rewards given by me</h3>
				<div class="table_actions clearfix">
					<%= link_to 'Give reward', new_reward_path, { :class => "btn" } %>
				</div>
			</th>
		</tr>
  	<tr>
			<th>Type</th>
			<th>Amount</th>
			<th>User</th>
			<th>Note</th>
    	<th></th>
    	<th></th>
    	<th></th>
  	</tr>
	</thead>
	<tbody>
	<% @rewards_given.each do |reward| %>
  	<tr>
			<td><%= reward.get_reward_type.display %></td>
			<td><%= reward.reward_type_value %></td>
			<td><%= reward.user.email %></td>
			<td><%= reward.note %></td>
    	<td><%= link_to 'Show', reward %></td>
    	<td><%= link_to 'Edit', edit_reward_path(reward) %></td>
    	<td><%= link_to 'Revoke', reward, :confirm => 'Are you sure?', :method => :delete %></td>
  	</tr>
	<% end %>
	</tbody>
	<tfoot>
	<tr>
		<td colspan="7">
			<span>Displaying <%= @rewards_given.count %></span>
		</td>
	</tr>
	</tfoot>
</table>
</div>

